<nz-layout>
  <nz-header class="navbar">
    <div class="logo"> LCM Solutions </div>
    <ul nz-menu nzTheme="dark" nzMode="horizontal" class="nav-menu">
      <!-- Home Link -->
      <li nz-menu-item routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        Home
      </li>
      <!-- About Link -->
      <li nz-menu-item routerLink="/about" routerLinkActive="active">
        About
      </li>
      <!-- Contact Link -->
      <li nz-menu-item routerLink="/contact" routerLinkActive="active">
        Contact
      </li>
      <li nz-menu-item routerLink="/projects" routerLinkActive="active">
        Tech Stack
      </li>
    </ul>
  </nz-header>
</nz-layout>
