@primary-color: #0328cd;
@primary-button-color: #0901a1;
@secondary-color: #001a3d;
@accent-color: #00092d;
@crm-color: #18cc00;
@background-color: #F4F7FC;
@card-bg-color: #fff;
@text-color: #333;
@shadow-color: rgba(0, 0, 0, 0.2);

@space-xs: 8px;
@space-sm: 16px;
@space-md: 24px;
@space-lg: 32px;
@space-xl: 40px;

body {
  background-image: url('assets/images/LionsHead.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  margin: 0;
  font-family: 'Arial', sans-serif;
  overflow-x: hidden;
  height: 100vh;

  @media (max-width: 767px) {
    background-image: url('assets/images/Kruger.jpg');
  }
}
